




.App {
  text-align: center;
}




.App-header {
  background-color: transparent;
  min-height: 0;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.App_title{
  font-family: "Gill Sans", sans-serif;
  font-size: 48px;
  font-weight: 750;
  letter-spacing: 3px;
  color: #040404;
  text-shadow: 2px 2px 4px rgba(88, 87, 87, 0.3);
}

.raise:hover,
.raise:focus {
  box-shadow: 4px 6px 6px  rgba(0, 0, 0, 1) var(--hover);
  transform: translateY(-0.25em);
}

.header_buttons button {
  /* Existing button styles */
  background-color: transparent;
  box-shadow: 5px 6px 5px rgba(181, 180, 180, 0.7);
  text-shadow: 2px 2px 4px rgba(88, 87, 87, 0.3);
  width: 200px;
  height: 50px;
  font-family: "Gill Sans", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  color: #040404;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 8px;
  
  position: relative;
  overflow: hidden; /* Adicionada propriedade overflow */
}

.header_buttons button.clicked {
  /* Button styles when clicked */
  color: #fff; /* Change text color to white */
}

.header_buttons button::after {
  /* Overlay styles */
  content: "";
  position: absolute;
  width: 100%;
  border: 0.5px solid rgba(144, 143, 143, 0.1); /* Ajuste a transparência aqui */
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.5s ease-in;
  mix-blend-mode: difference;
  background: radial-gradient(circle at center, #000 24%, #000 25%, #000 100%);
  opacity: 0;
  pointer-events: none;
}

.header_buttons button.clicked::after {
  /* Overlay styles when button is clicked */
  opacity: 1;
  transform: scale(4.2);
 
}

.header_buttons button.clicked:hover::after,
.header_buttons button.clicked:focus::after {
  /* Overlay styles when button is clicked and hovered or focused */
  transform: scale(4.2);
}

.header_buttons button:not(.clicked):hover,
.header_buttons button:not(.clicked):focus {
  /* Button styles when not clicked but hovered or focused */
  box-shadow: 4px 3px 0.5em -0.4em rgba(0, 0, 0, 0.3);
  transform: translateY(-0.25em);
}


.container1 {
    display: grid;
    grid-template-rows: repeat(20, 165px);
    grid-template-columns: repeat(10, 165px);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 7px;
    margin-right: 7px;
}

.item1-1 {
    grid-area: 1 / 1 / 6 / 3;
}

.photo1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item1-2 {
    grid-area: 1 / 10 / 4 / 8;
}

.photo2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.item1-3 {
    grid-area: 4 / 5 / 7 / 11;
    background-color: rgba(252, 66, 66, 0.815);
}

.item1-4 {
    grid-area: 6 / 1 / 9 / 5;
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-5 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-6 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-7 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-8 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-9 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-10 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-11 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-12 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-13 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-14 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-15 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-16 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-17 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-18 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-19 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item1-20 {
    background-color: rgba(255, 148, 148, 0.815);
}


.container2 {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    grid-template-columns: 100px 100px;
}


.item2-1 {
    grid-area: 10 / 1 / 20 / 10;
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-2 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-3 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-4 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-5 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-6 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-7 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-8 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-9 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-10 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-11 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-12 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-13 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-14 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-15 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-16 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-17 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-18 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-19 {
    background-color: rgba(255, 148, 148, 0.815);
}

.item2-20 {
    background-color: rgba(255, 148, 148, 0.815);
}
